.article {
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* align-items: center; */
}
.title {
  margin-top: 2%;
  font-size: 1.4rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  /* text-align: center; */
}
.subTitle {
  margin-top: 3%;
  padding-bottom: 3%;
  font-size: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  border-bottom: 1px solid grey;
  /* text-align: center; */
}
