.card {
  order: 0;
  flex-grow: 0;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px rgb(194, 194, 194);
  margin-bottom: 1rem;
  flex: none;
  padding: 1rem 1rem 1rem 1rem;
  height: auto;
  overflow: hidden;
  width: auto;
}

.title {
  text-align: center;
}

.author {
  float: left;
  width: 49%;
}

.like {
  float: right;
  width: 49%;
}
