.card {
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px rgb(194, 194, 194);
  margin-bottom: 0.5rem;
  padding: 1rem;
  max-height: 100px;
  overflow: hidden;
}

.empty {
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px rgb(194, 194, 194);
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.cardlist {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.commentlist {
  display: grid;
  align-items: center;
  max-height: 500px;
  overflow: scroll;
}
/* 스크롤 가리기 */
.commentlist::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.agreeauthor {
  font-weight: bold;
  background: rgba(35, 115, 235, 0.32);
  border-radius: 10px;
  text-align: center;
}

.alterauthor {
  font-weight: bold;
  background: rgba(255, 199, 0, 0.32);
  border-radius: 10px;
  text-align: center;
}

.disagreeauthor {
  font-weight: bold;
  background: rgba(255, 0, 0, 0.32);
  border-radius: 10px;
  text-align: center;
}

.name {
  font-weight: bold;
}

.like {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
}

.comment {
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px rgb(194, 194, 194);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  max-height: 70px;
  overflow: hidden;
}
.textArea {
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 8px;

  padding: 0.5rem;
  max-height: 70px;
  border: none;
  width: 100%;
}
/* .textArea::-webkit-scrollbar {
  display: none;
} */
