.agree {
  display: block;
  margin: auto;
  transition: 0.5s;
}

.agree:hover {
  cursor: pointer;
}

.alternative {
  display: block;
  margin: auto;
  transition: 0.5s;
}

.alternative:hover {
  cursor: pointer;
}

.disagree {
  display: block;
  margin: auto;
  transition: 0.5s;
}

.disagree:hover {
  cursor: pointer;
}
