.agree {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  border: none;
  color: blue;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.alternative {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  border: none;
  color: yellow;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.disagree {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  color: red;
}
