.agree {
  transition: 0.5s;
}

.agree:hover {
  padding: 1rem;
}

.alternative {
  transition: 0.5s;
}

.alternative:hover {
  padding: 1rem;
}

.disagree {
  transition: 0.5s;
}

.disagree:hover {
  padding: 1rem;
}
