.out {
  min-height: 50%;
}

.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  color: #00b2ff;
}

.name :hover {
  cursor: pointer;
}

.modal {
  text-align: center;
}

.input {
  width: 40%;
  border: none;
  border-radius: 15px;
  outline: none;
  background-color: rgb(233, 233, 233);
  text-align: center;
}

.select {
  width:40%;
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.select::-ms-expand { 
  display: none;
}

.full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.submit {
  width:40%;
  text-align: center;
  margin:1rem auto;
}