.out {
  text-align: center;
  color: red;
  cursor: pointer;
}
.title {
  color: royalblue;
  font-size: 2rem;
  margin-top: -1rem;
  text-align: center;
}
.story {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.memo {
  background-color: white;
  border: 1px solid black;
  padding: 0.5rem;
}
.ack {
  margin-left: 3rem;
}
.nak {
  margin-right: 3rem;
}
@media (max-width: 767px) and (max-height: 920px) {
  .title {
    margin-top: 0rem;
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) and (max-width: 1058px) {
  .title {
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
