.submit {
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 50px;
  border: 1px solid #ffc700;
}

.input {
  border: 1px solid #ffc700;
}

.button {
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-family: "Noto Sans KR";
  background: #ffc700;
}
.input:disabled{
  background: rgb(230, 229, 229);
}