.card {
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 6.5rem;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

/* .card:hover {
  transform: scale(1.1);
  transition: 0.5s;
} */

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .info,
  .graph {
    -webkit-backdrop-filter: contrast(90%);
    backdrop-filter: contrast(90%);
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.info * {
  margin-top: 3%;
  font-size: 0.75rem;
  color: white;
}

.title {
  font-weight: bold;
  font-size: 1.15rem;
}
.graph {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.graph * {
  position: relative;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  height: 0.3rem;
}

.agree {
  background-color: #0051ca;
}

.alternative {
  background-color: #ffc700;
}

.disagree {
  background-color: #e10000;
}
