.new {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  width: 6rem;
  height: 1.6rem;
  border-radius: 15px;
  border: 0ch;
  cursor: pointer;
  background-color: white;
  position: fixed;
  bottom: 4.5rem;
  font-size: 1rem;
  z-index: 1;
}

.btn_upload {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  width: 6rem;
  height: 1.6rem;
  border-radius: 15px;
  border: 0ch;
  cursor: pointer;
  background-color: white;
  transform: translateX(-50%);
  margin-left: 50%;
  position: relative;
  bottom: 0;
  font-size: 1rem;
  z-index: 2;
  margin-top: 15%;
}
.input {
  width: 100%;
  border: solid rgb(231, 231, 231) 0.1pt;
  text-align: center;
  height: 30px;
}
.textinput {
  width: 100%;
  border: solid rgb(231, 231, 231) 0.1pt;
}
.uploadBtn {
  padding: 4px 10px;
  border-radius: 4px;
  background-color: rgb(66, 170, 255);
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.label {
  font-weight: bolder;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 3%;
}

.category {
  border: 0;
  font-weight: bold;
  font-size: 1.2rem;
  transform: translateX(-50%);
  margin-left: 50%;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.category:focus {
  outline: none;
}

.backBtn {
  color: #03b3ff;
  font-weight: bolder;
  font-size: 1.2rem;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  cursor: pointer;
}

.modal {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

@media (min-width: 768px) {
  .modal {
    width: 700px;
    left: 50%;
    transform: translateX(-50%);
  }
} ;
