.btn {
  box-shadow: 0px 2px 5px 0px rgb(189, 189, 189);
  width: 6rem;
  height: 1.6rem;
  border-radius: 15px;
  border: 0ch;
  cursor: pointer;
  background-color: white;
  transform: translateX(-50%);
  margin-left: 50%;
  position: fixed;
  bottom: 4.5rem;
  font-size: 1rem;
  z-index: 3;
}
.btn_upload{
    box-shadow: 0px 2px 5px 0px rgb(189, 189, 189);
  width: 6rem;
  height: 1.6rem;
  border-radius: 15px;
  border: 0ch;
  cursor: pointer;
  background-color: white;
  transform: translateX(-50%);
  margin-left: 50%;
  position: relative;
  bottom: 0;
  font-size: 1rem;
  z-index: 2;
}
.input {
  width: 100%;
  border: solid rgb(231, 231, 231) 0.1pt;
}
.uploadBtn {
  padding: 4px 10px;
  border-radius: 4px;
  background-color: rgb(66, 170, 255);
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.label {
  font-weight: bolder;
  font-size: 1.2rem;
}

.category {
  border: 0;
  font-weight: bolder;
  font-size: 1.2rem;
  transform: translateX(-50%);
  margin-left: 50%;
  cursor: pointer;
}
.category:focus{
  outline: none;
}

.backBtn {
  color: #03b3ff;
  font-weight: bolder;
  font-size: 1.2rem;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: white;
  cursor: pointer;
}
