.btn {
  box-sizing: border-box;
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 550;
  transition: 0.25s;
  background-color: aliceblue;
  color: black;
  text-align: center;
}
.btn:hover {
  letter-spacing: 0.05rem;
  transform: scale(1.2);
  cursor: pointer;
}
.btnBox {
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
.icon {
  cursor: pointer;
}
.agenda {
  max-width: 410px;
  margin-bottom: 3.5rem;
}
