.select {
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;
}
.select:focus {
  outline: none;
}
.select::-ms-expand {
  display: none;
}
.select option {
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}
.edit {
  border: 0;
  font-weight: bolder;
  font-size: 1.2rem;
  transform: translateX(-50%);
  margin-left: 50%;
  cursor: pointer;
}