.all {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  color: #00b2ff;
}

.name :hover {
  cursor: pointer;
}

.line {
  border-bottom: 3px solid darkgray;
  margin: 1rem;
  text-align: center;
}

.logout {
  display: flex;
  place-items: center;
}
