.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding-bottom: 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoContainer {
  padding: 1rem;
}

.cardSection {
  width: 20rem;
}
.title {
  text-align: center;
}
